
*.log
Animation/F20GA/Saved/AutoScreenshot.png
Animation/F20GA/Saved/Config/CrashReportClient/UECC-Windows-4E6DB1E94FDFC5D5247D208F6176BE96/CrashReportClient.ini
Animation/F20GA/Saved/AutoScreenshot.png
